{% extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}

	<div class="container">
		{{ form_start(form) }}
		{{ form_row(form.race) }}
		{{ form_row(form.isLof) }}

		<button type="submit">Verifier</button>
		{{ form_end(form)}}
	</div>
	<div class="container">
		<h1 class="mf-2 my-4">Liste des annonce</h1>
		{% for annonce in liste %}
			{# {{ dump(annonce) }} #}
			<a class="p-3" href="{{ path('annonce_show', {id: annonce.id}) }}">
				<p>titre:
					{{ annonce.title }}</p>
			</a>
		{% endfor %}
	</div>
{% endblock %}
