{% extends 'base.html.twig' %}

{% block title %}Details d'une annonce
{% endblock %}

{% block body %}

	{# <h1>{{ annonce.title }}</h1>
																{{ annonce.createdAt|date('d/m/Y H:i') }}
																{% for dog in annonce.dogs %}
																	{% for image in dog.images %}
																		<img src="{{ asset(image.path) }}"/>
																	{% endfor %}
																{% endfor %} #}

	<div class="text-center my-5 gap-2 ">
		<hr class="mx-auto w-80">
		<h1>
			{{ annonce.title }}
		</h1>
		<hr class="mx-auto w-80">
		{% for dog in annonce.dogs %}
			<h2>{{ dog.name }}</h2>
			{% for race in dog.races %}
				{{ race.name -}}
				{%- if not loop.last %},
				{% endif %}
			{% endfor %}
			<hr class="mx-auto w-80">
			<div class="d-flex justify-content-center gap-2">
				{% for image in dog.images %}
					<img src="{{ asset(image.path) }}"/>
				{% endfor %}
			</div>
		{% endfor %}
		<p class="card-text">
			{{ annonce.createdAt|date('d/m/Y H:i') }}
		</p>
		<p class="card-text">
			<a href="{{ path('response_offer', {'id': annonce.getId }) }}" class="btn btn-primary">Adopter</a>
		</p>
	</div>

{% endblock %}
