{% extends 'base.html.twig' %}

{% block title %}Hello AdoptantController!
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(formPassword) }}
		{{ form_widget(formPassword) }}


		<button type="submit">Verifier</button>
		{{ form_end(formPassword)}}

		{{ form_start(form) }}
		{{ form_widget(form) }}


		<button type="submit">Verifier</button>
		{{ form_end(form)}}
		<div>
			{% for adoptionOffer in app.user.adoptionOffers %}
				<h1>
					{% for dog in adoptionOffer.dogs %}
						{{ dog.name }}
					{% endfor %}
				</h1>
				{% for dog in adoptionOffer.dogs %}
					{% for image in dog.images %}
						<a href="{{path('annonce_show', { id: dog.annonce.id } )}}">
							<img src="{{ asset(image.path) }}"/>
						</a>
						<a class="btn btn-primary" href="{{path('annonce_show', { id: dog.annonce.id } )}}">Voir l'annonce</a>
					{% endfor %}
					{% for race in dog.races %}
						<h1>{{ race.name }}</h1>
					{% endfor %}
				{% endfor %}
			{% endfor %}
			<a class="btn btn-secondary" href="#">Consultez le Fil de Discussion</a>
		</div>
	</div>
{% endblock %}
