<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('CSS/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/reset.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header>
			<div>
				<a href="{{path('app_default')}}">
					<h1>DOGGY DEAL</h1>Viens nous adopter !</a>
			</div>
		</header>
		<nav class="navbar navbar-light justify-content-between mx-4">
			<a href="{{path('app_default')}}" class="navbar-brand">DOGGY DEAL</a>
			<div class="form-inline d-flex align-items-start gap-1">
				<a href="{{path('app_annonce')}}" class="navbar-brand">Liste des annonces</a>
				{% if is_granted('ROLE_USER') %}
					<div class="mb-3">
						{{ app.user.username }}
						<a class="btn btn-outline-success  my-sm-0" href="{{ path('app_message') }}">Message</a>
						<a class="btn btn-outline-success  my-sm-0" href="{{ path('app_adoptant') }}">Mon Compte</a>
						<a class="btn btn-outline-success  my-sm-0" href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% else %}
					<a class="btn btn-outline-success type=" hidden"  my-sm-0" href="{{path('app_login')}}">Login</a>
					<a class="btn btn-outline-success  my-sm-0" href="{{path('app_register')}}">Inscription</a>
				{% endif %}
			</div>
		</nav>
		{% block body %}{% endblock %}
		<footer>
			<div class="container d-flex align-items-center">
				<div class="w-25">
					<img src={{asset('img/logo/doglogo.png')}} width="50%">
				</div>
				<p class="w-50 text-center">DOGGY DEAL © 2023</p>
			</div>
		</div>
	</body>
</html></footer><script src="{{ asset('js/bootstrap.js') }}" defer></script></body></html></html>
